/* BUSQUEDA PERFIL */
input[name="searchProfile"]{
    background: transparent;
    border: none;
    border-bottom: 1px solid #b8b8b8;
}
input[name="searchProfile"]:focus{
    background: transparent;
    border: none;
    border-bottom: 1px solid #b8b8b8;
}
.print-profileSearch{
    max-height: 250px;
    width: 280px;
    background: rgb(240, 240, 240);
    display: none;
    z-index: 10;
    position: fixed;
    top: 2;
    left: 0;
    right: 0;
    margin: auto;
    overflow-y: visible;
    overflow-x: hidden;
}
.sProfile{
    height: 47.5px;
}
.sProfile .listSearchProfile{
    border: 1px solid rgb(163, 163, 163);
}
.li-search-profile{
    display: inline-block;
    text-decoration: none;
    text-align: center;
}
.img-search-profile{
    height: 40px;
    margin-left: -15px;
    margin-right: 30px
}