html, body {
    margin: 0;
    padding: 0;
}
.wave{
    width: 85%;
    height: auto;
}
path{
    width: 80%;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(193, 209, 214), #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, rgb(27, 86, 99)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.login{
    /* width: 20%; */
    width: auto;
}
.container-login{
    width: 50vh;
    margin-top: -550px;
    margin-right: 20%;
    /* margin-top:  */
}
.btn-login{
    border-radius: 55px;
}
.wave-l-m{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: none;
}

/* RESPONSIVE (MOVIL) */
@media screen and (max-width: 1238px) {
    .wave-l{
        width: 70%;
    }
}
@media screen and (max-width: 960px) {
    .wave-l{
        width: 55%;
    }
}
@media screen and (max-width: 730px) {
    .wave-l{
        display: none;
    }
    .container-login{
        width: auto;
        margin: auto;
        display: block;
        margin-top: 80px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .wave-l-m{
        display: block;
    }
}