html,
body {
    margin: 0;
    padding: 0;
}
.wave-l {
    min-width: 95%;
    max-width: 100%;
    /* max-height: auto; */
    position: fixed;
    top: -5;
    left: 0;
    animation-name:             dostuff; 
    animation-duration:         6s; 
    animation-iteration-count:  infinite;
    transition-timing-function: ease-in-out;
    animation-direction: alternate
}
path {
    width: 90%;
    background: #00B4DB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(193, 209, 214), #00B4DB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, rgb(27, 86, 99));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.title{
    position: absolute;
    z-index: 100;
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    text-align: center;
    margin-left: 40px;
    margin-top: 30px;
    font-size: 45px;
}
.logo{
    position: absolute;
    margin-top: 200px;
    height: 90px;
    margin-left: 100px;
}
.login {
    /* width: 20%; */
    width: auto;
}
.container-login {
    width: 350px;
    height: auto;
    margin-top: 190px;
    margin-right: 250px;
    /* margin-top:  */
}
.btn-login {
    border-radius: 55px;
}
.urlRegister{
    position: relative;
    z-index: 999;
}
.wave-l-m {
    max-width: 150%;
    position: fixed;
    bottom: 0;
    height: 200px;
    display: none;
    animation-name:             sparki; 
    animation-duration:         6s; 
    animation-iteration-count:  infinite;
    transition-timing-function: ease-in-out;
    animation-direction: alternate
}
.field-error {
    /* margin-bottom: 12px; */
    border-bottom: 1px solid #AF0C0C;
    box-shadow: 0 2px 4px -2px #7f0909;
}
.error {
    color: rgb(153, 0, 0);
}
/* RESPONSIVE (MOVIL) */
@media screen and (max-width: 1338px) {
    .wave-l {
        width: 90% !important;
    }
    .container-login{
        margin-right: 150px;
    }
    .title{
        font-size: 40px;
        margin-left: 3%;
    }
    .logo{
        height: 80px;
        margin-left: 7%;
    }
}
@media screen and (max-width: 1090px) {
    .wave-l {
        width: 200px !important;
    }
    .container-login{
        margin-right: 60px;
    }
    .title{
        font-size: 35px;
        margin-left: 1%;
    }
    .logo{
        height: 65px;
        margin-left: 7%;
    }
}
@media screen and (max-width: 900px) {
    .title{
        font-size: 26px;
        margin-left: 1%;
    }
    .logo{
        height: 55px;
        margin-left: 5%;
    }
}
@media screen and (max-width: 730px) {
    .wave-l {
        display: none;
    }

    .container-login {
        width: auto;
        margin: auto;
        display: block;
        margin-top: 80px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .wave-l-m {
        display: block;
    }
}

/* ANIMATIONS */
@-webkit-keyframes dostuff{
    0%{
      height:120%;
    }
    50%{ 
      height:140%;
    }
    100%{ 
      height:150%;
    }
}

@-webkit-keyframes sparki{
    0%{
        width:110%;
        height: 180px;
    }
    50%{ 
        width:160%;
        height: 200px;
    }
    100%{ 
        width:120%;
        height: 220px;
    }
}