
.butonperfil{
    width: 110px;
    height: 120px;
    margin-top: 5px;
    border-radius: 85px;
}
.descripciones{
   
    margin-top: 20px;
    height: 75%;
}

#mediaperfil{
    word-wrap: break-word;
}
#fotodeperfil{
    border-radius: 60%;
    width: 100px;
    margin-top: 30px;
}
 .iconsperfil{
     align-items: center;
    color: black;
}
.subirfoto{
    text-align: center;
}
.eliminarfoto{
    text-align: center;
}
.modal-content  {
    border-radius: 10px;
}
.btnsubirfoto{
    background-color: transparent;
    width: 100%;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #dbdbdb;
    border-top: 1px solid rgba(var(--b6a,219,219,219),1);
    cursor: pointer;    
    line-height: 1.5;
    margin: 0;
    min-height: 48px;
    padding: 4px 8px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
}
.btneliminarfoto{
    background-color: transparent;
    width: 100%;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    height: 10px;
    border-top: 1px solid #dbdbdb;
    border-top: 1px solid rgba(var(--b6a,219,219,219),1);
    cursor: pointer;    
    margin: 0;
    min-height: 48px;
    padding: 4px 8px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
}