
.butonperfil{
    width: 110px;
    height: 120px;
    margin-top: 5px;
    border-radius: 85px;
}
.descripciones{
   
    margin-top: 20px;
    height: 75%;
}

#mediaperfil{
    word-wrap: break-word;
}
#fotodeperfil{
    border-radius: 60%;
    width: 100px;
    margin-top: 30px;
    box-shadow: none;
}
#hoverimg{
    width: 100px;
    height: 100px;
    margin-top: 30px;
    border-radius: 60%;
}
 .iconsperfil{
     align-items: center;
     color: black;
}
#iconfoto{
    color: #ffff;
}
.subirfoto{
    text-align: center;
}
.eliminarfoto{
    text-align: center;
}

#btnsubirfoto{
    width: 50%;
    margin-top: -5px;
    margin-left: -15px;
    border: none;
    box-shadow: 1;
    text-align: center;

}
.btnsubirfoto input[type=file] {
    position: absolute;
    display: block;
    width: 100%;
    margin-top: -30px;
    height: 100px;
    filter: alpha(opacity=0);
    opacity: 0;
    
}
#divmedia{
    word-break: break-all;
    word-wrap: break-word;
}
#btncerrar, #btnaceptar{
    border-radius:25px;
}
#lala img{
width:100%;height:250px;
}
#lolo img{
    width:100%;height:250px;
    }
#lala i{
    color: blue;
    margin-top: -100px !important;
    margin-left: -15px;
}